@{
    ViewData["Title"] = "Lista";
}

<div class="text-center">

    <h1 class="display-4">Contatos</h1>
    <br />
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a class="btn btn-outline-primary text-primary">Adicionar contato</a>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">WhatsApp</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto@gmail.com</td>
                <td>61 9 8248-1642</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Ações">
                        <a role="button" class="btn btn-success text-white">Editar</a>
                        <a role="button" class="btn btn-danger text-white">Excluir</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
